@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.btn {
    display: inline-block;
    padding: 2px 5px;
    border: 1px solid #444;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    background: #eee;
}

.tabela {
    border-collapse: collapse;
}

.tabela th,
.tabela td {
    border: 1px solid #444;
    padding: 4px 8px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

a {
    color: blue;
    text-decoration: underline;
}
